.ancestorContainer {
    display: flex;
    background-color: rgb(247, 248, 249);
    padding: 8px;
    border-radius: 8px;
    height: 80vh;
    margin: 6px;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 4px;
}

.addButton {
    height: fit-content;
    width: fit-content;
    padding: 12px 8px;
    background-color: rgb(252, 254, 251);
    cursor: pointer;
    border-radius: 8px;
    font-size: large;
    font-weight: 700;
    transition: all 0.3s linear;
    box-shadow: 1px 1px 4px 2px rgba(19, 19, 19, 0.1);
}

.addButton:hover {
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.4);
}

.todoContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: rgb(252, 251, 252);
    margin: 4px;
    border-radius: 6px;
    padding: 8px;
    gap: 12px;
    overflow-y: auto;
}

.todo {
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 1px 1px 4px 2px rgb(0, 0, 0, 0.1);
    max-height: fit-content;
    width: 97%;
}

.todo input[type="checkbox"] {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

.infoContainer {
    width: 100%;
    font-size: x-large;
    white-space: normal;
    word-wrap: break-word;
}

.infoContainer p {
    margin: 5px 0;
    font-size: medium;
}

.todoInput {
    width: 500px;
    margin-right: 8px;
    height: 45px;
    font-size: large;
}

.noTodoMessage {
    color: rgb(7, 7, 7);
    align-self: center;
    justify-self: center;
    font-size: large;
}
